body {
    letter-spacing: .011rem;
    word-break: break-word;
    margin: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.765;
    color: #000;
    text-align: left;
    background-color: #fff;
}


h1 {
    font-size: 24px;
    color: #0063a3;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

/* Link Style */
.nav-link:hover {
    text-decoration: #0063a3;
}


.navbar-logo-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    z-index: 3;
    pointer-events: none;
}

.navbar-logo {
    max-width: 300px;
    height: auto;
    pointer-events: auto;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .navbar-logo {
        max-width: 200px;
    }
}

@media (max-width: 576px) {
    .navbar-logo {
        max-width: 150px;
    }
}


/* Blue Line Below Navbar */
.blue-line {
    height: 10px;
    background-color: #0063a3;
    width: 100%;
}

.btn-blue {
    background-color: #0063a3;
    color: white;
}


.btn-logout {
    padding-top: 10px;
    background-color: #0063a3;
    color: white;

}

.report-container {
    position: relative;
    margin: auto;
    width: 80%;
    border: 3px solid black;
    padding: 10px;
}

.button-container {
    position: absolute;
    top: -35.5px;
    left: 0;
    display: flex;
    gap: 10px;
}

.button-container .btn {
    background-color: #0063a3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0
}

.button-container button {
    vertical-align: top;
    border: none;
    border-radius: 5px;
    background-color: white;
}

.userbutton-container{
    margin: auto;
    width: 50%;
    margin-top: 30px;
}

.userbutton-container button {
    vertical-align: top;
    border: none;
    border-radius: 5px;
    background-color: white;
}

button.active {
    background-color: gray;
}

.profile-container {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

.changepassword {
    margin: auto;
    width: 50%;

}

.changelocation {
    margin:auto;
    width: 50%;
}


.unread {
    color: lightblue;
}

.notification-detail {
    margin: auto;
    width: 50%;
    margin-top: 30px;
    border: 3px solid black;
    text-align: center;
}

.notifbuttondiv {
    float: right;
    margin-top: 20px;
    margin-right: 120px;

}


/* Responsive styles for devices with a width of 600px or less */
@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .report-container {
        width: 90%;
        margin-top: 50px;
    }
}

/* Responsive styles for devices with a width of 601px or more */
@media (min-width: 601px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .report-container {
        width: 50%;
        margin-top: 100px;
    }
}

/* Info box for historic water details */
.water-container {

    padding: 10px;


}

.water-info {
    margin-top: 100px;
    width: 100%;

}