* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Header */
.header {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-nav a {
    color: white;
    text-decoration: none;
}


/* Main Content */
.main-content {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Content Section */
.content {
    width: 75%;
}

.content h1 {
    font-size: 1.8em;
    color: #003366;
    margin-bottom: 20px;
}
