<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ report.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} <!-- necessary to connect to CSS in django -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<script src={% static 'js/report.js' %}></script>


<body>

{#request id of current user#}
{{ request.user.id|json_script:"user_id" }}

<div class="report-container" id="report-container">
    <h1>{{ report.title }}</h1>
    <p><strong>Description:</strong> {{ report.description }}</p>
    <div id="location">
    <p><strong>Location:</strong> [<strong id="longitude">{{ report.lon }}</strong>, <strong id="latitude">{{ report.lat }}</strong>]</p>
    </div>
    <p><strong>Date:</strong> {{ report.date }}</p>
    {% if report.picture.url is not 0 %}
    <img
            class="report-image"
            src="{{ report.picture.url }}"
            alt="{{ report.picture_description }}"
    />
    {% endif %}
    <a href="{% url 'main' %}" class="btn btn-secondary">Back to Map</a>

</div>




</body>
</html>


