<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flood Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> <!-- for icons -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'main' %}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                    <a class="btn btn-blue d-flex align-items-center me-3 py-2 px-4" type="button" href="{% url 'report' %}">
                        <i class="fas fa-plus me-2"></i> New Report
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="blue-line"></div>

    <br>
    <div class="container-fluid">
        <h1 class="text-center">Create a new report</h1>
    </div>
    <br>
    <div class="container-fluid">
        <form method="post" action="{% url 'process-report-entry' %}" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="container-fluid "style="margin-top: 10%">
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title "style="width: 80%;">
                    <br>

                    <input type="text" class="form-control" id="location" name="location" placeholder="Location "style="width: 80%;">
                    <br>

                    <input type="text" class="form-control" id="description" name="description" placeholder="Description "style="width: 80%;">
                    <br>

                    <input type="text" class="form-control" id="picture_description" placeholder="Picture description" style="width: 80%;">
                    <br>
                    <input type="file" class="form-control" id="picture" name="picture" style="width: 80%;">
                    <br>
                    <button type="submit">Submit Information</button>
                </div>

            </div>
        </div>
        </form>
    </div>
</body>
</html>