<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ plot_data.messstelle }} Historical Data</title>
</head>
<body>
<p>Messstelle:<strong>{{ plot_data.messstelle }}</strong></p>
  {% autoescape off %}
  {{ plot_data.plot }}
  {% endautoescape %}
<p>Minimum Value of the year {{ plot_data.minimum_year }}:  <strong>{{ plot_data.minimum }} {{ plot_data.einheit }}</strong></p>
<p>Median Value:    <strong>{{ plot_data.median }} {{ plot_data.einheit }}</strong></p>
<p>All-Time high Value of the year {{ plot_data.maximum_year }}:  <strong>{{ plot_data.maximum }} {{ plot_data.einheit }}</strong></p>
<p>Current Water level: <strong>{{ plot_data.current_value }} {{ plot_data.current_unit }}</strong></p>
</body>
</html>