<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} <!-- necessary to connect to CSS in django -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historical Data {{ plot_data.messstelle }} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> <!-- for icons -->
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/waterdetails.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'main' %}">Home</a>
            <div class="navbar-logo-container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/logo.png' %}" alt="Logo" class="navbar-logo">
                </a>
            </div>
            {% if user.is_authenticated and user.role == 'agent' %}
                <a class="navbar-brand" href="{% url 'agent_tasks' %}">Tasks</a>
            {% elif user.is_authenticated and user.role == 'manager' %}
                <a class="navbar-brand" href="{% url 'manager_tasks' %}">Tasks</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                    <a class="btn btn-blue d-flex align-items-center me-3 py-2 px-4" type="button" href="{% url 'report' %}">
                        {% else %}
                    <a class="btn btn-blue d-flex align-items-center me-3 py-2 px-4" type="button" href="{% url 'login' %}">
                        {% endif %}
                        <i class="fas fa-plus me-2"></i> New Report
                    </a>
                    </li>
                        {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-blue position-relative d-flex align-items-center me-3 py-2 px-4" type="button" href="{% url 'profile' %}">
                            {% if notifications > 0 %}
                            <span class="badge bg-danger position-absolute m-1 start-100 translate-middle"> {{ notifications }}</span>
                            {% endif %}
                        <i class="fa-solid fa-circle-user me-2"></i> Profile
                        </a>
                    </li>
                        {% endif %}
                    <li class="nav-item">
                        {% if not user.is_authenticated %}
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if not user.is_authenticated %}
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-blue position-relative d-flex align-items-center me-3 py-2 px-4" type="submit">logout</button>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="blue-line"></div>
    <p></p>


    <div class="container-fluid">

            <div class="row">
                <div class="col-md-4">
                    <div class="water-container">

                        <h1>Messstelle: <strong>{{ plot_data.messstelle }}</strong></h1>


                        <strong>Plot Data:</strong>
                        <br>
                        <strong>Maximum amount of surface water level</strong>
                        <br>
                        <strong>recorded per year</strong>


                        <div class="water-info">


                            <p>All-Time high Value of the year {{ plot_data.maximum_year }}:  <strong id="max">{{ plot_data.maximum }} {{ plot_data.einheit }}</strong></p>
                            <p>Median Value:    <strong id="median">{{ plot_data.median }} {{ plot_data.einheit }}</strong></p>
                            <p>Minimum Value of the year {{ plot_data.minimum_year }}:  <strong id="min">{{ plot_data.minimum }} {{ plot_data.einheit }}</strong></p>
                            <p>Current Water level: <strong>{{ plot_data.current_value }} {{ plot_data.current_unit }}</strong> - <strong>{{ plot_data.danger_level }}</strong></p>



                        </div>

                    </div>

                </div>
                <div class="col-md-8">


                        {% autoescape off %}
                        {{ plot_data.plot }}
                        {% endautoescape %}

                </div>
            </div>
    </div>





</body>
</html>